wall-photo-slider {
    width:100%;
  height: 140px !important;
   .img{
        height: 100px;
         background-size: cover;
   }
   ion-slides{
       margin: 0px 10px 5px 15px;
   }
   .user-photos{
       padding: 15px;
       color:#000;


   }
}
