user-header {
    width:100%;
.bg-img{ 
    background-image:url("./../../assets/tmp/camera_400.png");
    color: #fff;
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction:column-reverse;
    align-items: flex-end;
}

.user-name{
    width: 100%;
    order: 2; 
    font-size: 24px;
    padding-left: 20px;
} 

.user-online{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    order: 1;
    font-size: 13px;
    padding-left: 20px;
    padding-bottom: 10px;    
}

.user-camera{
    font-size:24px;
    padding-right: 20px;
}

.user-status,.user-friends,.user-followers,.user-city,.show-more-info{
    color:#ccc;
    display: flex;
    line-height: 20px;
    height: 36px;
    align-items: center;
}
.show-more-info{
    color: #5e76b2;
    opacity: 0.8;
}
.user-friends{
    width: 100%;
    justify-content: space-between;
}
.friends{
    display: flex;
    align-items: center;
    
}

.icon{
    margin: 0 15px 0 20px;
    font-size: 20px; 
    width:20px;
    display: flex;
    justify-content: center;
}


& .activated{
    & .random-img{
    border-color:#ececec;
    }
}


}
